{{#each progresses as |progress|}}
  <!-- {{> partial}} -->
  <!-- Don't uncomment yet -->


  <div style="display: flex; justify-content: center; margin: 15px;">
    <div id="btnLefArrow" style="font-size: 28px; color: white; padding-right: 75px;">&#8592;</div>
    <div id="btnDate" style="font-size: 28px; color: white; width: 150px; text-align: center;">DATE</div>
    <div id="btnRightArrow" style="font-size: 28px; color: white; padding-left: 75px;">&#8594;</div>
  </div>

  <section class="progress" data-id="{{progress.id}}" style="display: flex; justify-content: center; width: 498px; height: 500px; background-color: rgba(61, 40, 40, 0.5)">


    <ul class="list-group" style="width: 500px; margin-top: 10px; background-color: rgba(61, 40, 40, 0)">
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center;" class="list-group-item">Weight:</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center;" class="list-group-item">Calories:</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center;" class="list-group-item">Protein:</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center;" class="list-group-item">Carbohydrate:</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center;" class="list-group-item">Fat:</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center;" class="list-group-item">Sugar:</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center;" class="list-group-item">Fiber:</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center;" class="list-group-item">Cardio:</li>

    </ul>
    <ul data-id="{{progress.id}}" class="list-group list-group-horizontal" style="width: 125px; margin-top: 10px; background-color: rgba(61, 40, 40, 0)">
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center; "class="list-group-item">{{progress.weight}}</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center; "class="list-group-item">{{progress.calories}}</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center; "class="list-group-item">{{progress.protein}}</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center; "class="list-group-item">{{progress.carbohydrate}}</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center; "class="list-group-item">{{progress.fat}}</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center; "class="list-group-item">{{progress.sugar}}</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center; "class="list-group-item">{{progress.fiber}}</li>
      <li style="background-color: rgba(61, 40, 40, 0); border: 1px solid white; text-align: center; "class="list-group-item">{{progress.cardio}}</li>
  </ul>

  </section>

  <button class="delete-button" type="button" data-id="{{progress.id}}" name="delete-button">DELETE</button>
  <button class="update-button" type="button" data-id="{{progress.id}}" name="update-button">UPDATE</button>


{{/each}}
